#mask1
{
    background-image: url(assets/img/6e62d1cd-2def-4a13-b870-c6d46b05c769.png);
}
#mask2
{
    background-image: url(assets/img/7b4cee12-4184-44c3-840e-d8b852fea55d.png);
}
#mask3
{
    background-image: url(assets/img/bba54f95-f20e-465e-9dde-9cc6090cf289.png);
}
#mask4
{
    background-image: url(assets/img/faf3c27d-37fb-4570-8354-a6628707d5d4.png);
}
#mask5
{
    background-image: url(assets/img/projeto\ de\ parkour.jpg);
}
#mask6
{
    background-image: url(assets/img/f037540a-98b6-474f-8f2d-df14adefd509.jpg);
}