.section1
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.section2
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 30px 0px 30px;
    height: 120vh;
    background-color: #F4F7FC;
}
.section3
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 10px 0px 30px;
    background-color: var(--white);
}
.section4
{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background-color: #F4F7FC;
    padding: 100px 30px 0px 30px;
    margin-top: 50px;
}